@use '../../styles/variables';

.pages-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: variables.$primary-background;
}

.content {
  display: flex;
  justify-content: center;
  padding-block: 20px;
}

.sider {
  position: fixed;
  height: 100vh;
  background-color: variables.$secondary-background;
  z-index: 10000000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu {
  background-color: variables.$secondary-background;
}
